.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.main {
    height: 30rem;
    width: 30%;
    margin: auto;
    background-color: rgba(0, 54, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    border: 0.5vh solid rgb(0, 247, 0);
    border-radius: 2vh;
}

.main img {
    height: 30vh;
    width: 30vh;
    border-radius: 2vh;
}

.header {
    width: 100%;
    padding: 1rem;
}

.header svg {
    color: rgb(255, 255, 255);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.contacts {
    padding: 1rem;
    display: flex;
}

.contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    cursor: pointer;
    color: rgb(255, 255, 255);

}

.contacts :hover {
    transition: 0.5s;
    color: rgb(0, 247, 0);
    text-shadow: 0 0 25px rgb(0, 247, 0);
    filter: drop-shadow(0 0 25px rgba(0, 247, 0));
}

.contacts svg {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
}